name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  GOLANGCI_LINT_VERSION: v1.58

jobs:
  test:
    name: Test
    strategy:
      matrix:
        version: ["1.20", "1.21", "1.22"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4.2.1
        with:
          persist-credentials: false
      - uses: actions/setup-go@41dfa10bad2bb2ae585af6ee5bb4d7d973ad74ed # v5.1.0
        with:
          go-version: ${{ matrix.version }}
          cache: true
      - run: make test

  lint:
    name: Lint
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4.2.1
        with:
          persist-credentials: false
      - uses: actions/setup-go@41dfa10bad2bb2ae585af6ee5bb4d7d973ad74ed # v5.1.0
        with:
          go-version-file: go.mod
          cache: false
      - name: golangci-lint
        uses: golangci/golangci-lint-action@971e284b6050e8a5849b72094c50ab08da042db8
        with:
          version: ${{ env.GOLANGCI_LINT_VERSION }}
      - name: tidy
        run: |
          make download
          git diff-index HEAD
          git diff --minimal --color=always --compact-summary --exit-code HEAD || FAILED=true ;
          if [[ $FAILED ]];
            then echo "❗️please run \"go mod tidy\" locally and commit the changes"
            exit 1
          fi
