name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  GOLANGCI_LINT_VERSION: v2.5.0

permissions:
  contents: read

jobs:
  test:
    name: Test
    strategy:
      matrix:
        version: ["1.23", "1.24", "1.25"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: ${{ matrix.version }}
          cache: true
      - run: make test

  lint:
    name: Lint
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: go.mod
          cache: false
      - name: golangci-lint
        uses: golangci/golangci-lint-action@e7fa5ac41e1cf5b7d48e45e42232ce7ada589601 # v9.1.0
        with:
          version: ${{ env.GOLANGCI_LINT_VERSION }}
      - name: tidy
        run: |
          make download
          git diff-index HEAD
          git diff --minimal --color=always --compact-summary --exit-code HEAD || FAILED=true ;
          if [[ $FAILED ]];
            then echo "❗️please run \"go mod tidy\" locally and commit the changes"
            exit 1
          fi
