name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  GOLANGCI_LINT_VERSION: v2.5.0

permissions:
  contents: read

jobs:
  test:
    name: Test
    strategy:
      matrix:
        version: ["1.23", "1.24", "1.25"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version: ${{ matrix.version }}
          cache: true
      - run: make test

  lint:
    name: Lint
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: go.mod
          cache: false
      - name: golangci-lint
        uses: golangci/golangci-lint-action@0a35821d5c230e903fcfe077583637dea1b27b47 # v9.0.0
        with:
          version: ${{ env.GOLANGCI_LINT_VERSION }}
      - name: tidy
        run: |
          make download
          git diff-index HEAD
          git diff --minimal --color=always --compact-summary --exit-code HEAD || FAILED=true ;
          if [[ $FAILED ]];
            then echo "❗️please run \"go mod tidy\" locally and commit the changes"
            exit 1
          fi
