name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  GOLANGCI_LINT_VERSION: v2.9.0

permissions:
  contents: read

jobs:
  test:
    name: Test
    strategy:
      matrix:
        version: ["1.24", "1.25", "1.26"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6.3.0
        with:
          go-version: ${{ matrix.version }}
          cache: true
      - run: make test

  lint:
    name: Lint
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6.3.0
        with:
          go-version-file: go.mod
          cache: false
      - name: golangci-lint
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
        with:
          version: ${{ env.GOLANGCI_LINT_VERSION }}
      - name: tidy
        run: |
          make download
          git diff-index HEAD
          git diff --minimal --color=always --compact-summary --exit-code HEAD || FAILED=true ;
          if [[ $FAILED ]];
            then echo "❗️please run \"go mod tidy\" locally and commit the changes"
            exit 1
          fi
